@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Respira';
  src: url('../../public/assets/fonts/Respira.ttf');
}

--accent-color-light: #5834e8;
--accent-color-dark: #a7cb17;

html {
  scroll-behavior: smooth;
}

/* Dotted blur effect */
/* Light mode */
.effect-dotted {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #ffffff 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(4px);
}

/* Dark mode */
.effect-dotted-dark {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #121212 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(4px);
}

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #595959 #363636;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #363636;
}

*::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 0px;
  border: 0px none #ffffff;
}

/* ImageGallery */
.gallery-container {
  display: flex;
  justify-content: space-between; /* Initially, distribute space between children */
  width: 100%;
  align-items: stretch; /* Make children stretch to fill the parent vertically */
}

.gallery-item {
  flex: 1; /* Allow children to grow and evenly distribute space */
  height: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s cubic-bezier(0.5, 0.25, 0.5, 1); /* Transition the flex property */
}

.gallery-container:hover {
  justify-content: flex-start; /* When the container is hovered, stack children on the left */
}

.gallery-item:hover {
  flex: 10; /* Expand the hovered item to take more space */
}

.gallery-container:hover .gallery-item:not(:hover) {
  transition-property: all;
  filter: blur(1px);
  flex: 1; /* Make non-hovered items smaller */
}
